<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/page/css/profile/profile.css}"/>
</head>
<body>
    <div th:replace="~{fragment/layout.html::layoutFragment}"></div>
    <div class="main-section">
        <div class="main-item">
            <div class="main-profile-basic">
                <img class="profile-img" th:src="@{/page/img/profile.png}"/>
                <div class="main-profile-basic-section-2">
                    <p>이름 : 김동현</p>
                    <p>나이 : 27</p>
                    <p>안녕하세요 개발자를 꿈꾸고 있는 김동현이라고 합니다.</p>
                </div>
            </div>
            <div class="main-profile-details">
                <div class="main-profile-details-section-1">
                    <p class="detail-tab detail-tab-selected" data-key="cover-letter">자기소개서</p>
                    <p class="detail-tab" data-key="certificate">자격증</p>
                    <p class="detail-tab" data-key="school">학교</p>
                    <p class="detail-tab" data-key="career">경력</p>
                </div>
                <div class="main-profile-details-section-2">
                    <div class="detail-cover-letter h-100" id="detail-cover-letter">
                        <div class="main-profile-item-section h-100" style="padding: 15px 10px 15px 1.5rem;">
                            <textarea readonly id="coverLetter">
                            </textarea>
                        </div>
                    </div>
                    <div class="detail-certificate display-none" id="detail-certificate">
                        <table class="detail-table mr-5" id="certTable">
                            <tr>
                                <th>No</th>
                                <th>자격증</th>
                                <th>취득일자</th>
                            </tr>
                        </table>
                        <div class="main-profile-item-section">
                            <canvas class="mb-15" id="certificateChart" width="500px" height="250px"></canvas>
                        </div>
                    </div>
                    <div class="detail-school display-none" id="detail-school">
                        <table class="detail-table mr-5" id="detailSchool">
                            <tr>
                                <th>No</th>
                                <th>소속</th>
                                <th>기간</th>
                            </tr>
                        </table>
                        <div class="main-profile-item-section">
                            <canvas id="schoolChart" width="500px" height="250px"></canvas>
                        </div>
                    </div>
                    <div class="detail-career display-none" id="detail-career">
                        <table class="career-table mb-15" id="detailCareer">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/page/js/profile/profile.js"></script>
<script src="/page/js/chart/chart.js"></script>
</html>