<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/page/css/profile/profile.css}"/>
</head>
<body>
    <div th:replace="~{fragment/layout.html::layoutFragment}"></div>
    <div class="main-section">
        <div class="main-item">
            <div class="main-profile-basic">
                <div
                        class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
                        style='background-image: url("https://cdn.usegalileo.ai/sdxl10/b2f133dd-eab5-4a4d-b2a7-034c308686ea.png");'
                >
                </div>
                <div class="main-profile-section-2">
                    <p>name : [User's Name]</p>
                    <p>age : [User's Age]</p>
                    <p>Bright and engaging profile for personal branding</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>