.footer-area {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
}

.footer-area .footer-section {
    flex: 1 1 0;
    flex-direction: column;
    max-width: 960px;
    display: flex;
    container-type: inline-size;
    text-align: center;
    padding: 2.5rem 1.25rem;
    gap: 1.5rem;
}